body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  background-color: grey;
}

#title {
  color: yellow;
  text-shadow: 0 0 10px rgb(5, 5, 114);
  font-size: 64px;
}

#header {
  font-family: sans-serif;
  text-align: center;
  background-color: grey;
}