body {
    font-family: 'Segoe UI', sans-serif;
    background: #969696;
    color: #333;
    padding: 20px;
    margin: 0;
  }

  .container {
    max-width: 700px;
    margin: auto;
    background: rgb(255, 92, 92);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  h1, h2 {
    color: #2a75bb;
    text-align: center;
  }

  label, select, button {
    display: block;
    margin: 10px 0;
    font-size: 16px;
  }

  select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }

  button {
    background-color: #63893b;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  button.option {
    width: 100%;
    margin-top: 8px;
    background-color: #e0e0e0;
    color: #333;
  }

  button.option:hover {
    background-color: #d6d6d6;
  }

  button:hover {
    background-color: #1E88E5;
  }

  .quiz-box {
    margin-top: 20px;
  }

  .question-block {
    margin-top: 20px;
  }
